<div class="cart">
  <div class="container">
    <div class="cart__inner">
      <div class="cart-title">Ваша корзина</div>

      <div class="cart-table">
        <table id="customers">
          <thead>
            <th class="table-refresh">
              <svg
                width="25"
                height="25"
                viewBox="0 0 25 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7.31414 4.6875H3.12508V3.125H8.59383L9.37508 3.90625V9.375H7.81258V6.25C6.41214 7.30076 5.40525 8.79147 4.95343 10.483C4.50161 12.1745 4.63107 13.9687 5.32103 15.5778C6.01099 17.187 7.22145 18.5177 8.75822 19.3565C10.295 20.1954 12.069 20.4937 13.7956 20.2036C15.5222 19.9136 17.1013 19.0519 18.2797 17.757C19.458 16.4621 20.1672 14.8088 20.2935 13.0626C20.4197 11.3164 19.9558 9.5783 18.9761 8.12729C17.9963 6.67628 16.5576 5.59641 14.8907 5.06094L15.3626 3.57031C17.3854 4.21895 19.128 5.53536 20.3049 7.30387C21.4817 9.07239 22.0231 11.1882 21.8402 13.3046C21.6573 15.421 20.7611 17.4126 19.2984 18.953C17.8356 20.4935 15.8931 21.4915 13.789 21.7836C11.6848 22.0756 9.54391 21.6444 7.71689 20.5606C5.88987 19.4768 4.48511 17.8046 3.73272 15.818C2.98033 13.8314 2.92494 11.6482 3.57561 9.62603C4.22628 7.60384 5.54444 5.86257 7.31414 4.6875Z"
                  fill="#242424"
                />
              </svg>
            </th>
            <th class="product-name">Название продукта</th>
            <th>Количество</th>
            <th class="price">Цена</th>
          </thead>
          <tr>
            <td class="table-remove">
              <svg
                width="25"
                height="25"
                viewBox="0 0 25 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.8334 20.8333L4.16675 4.16666M20.8334 4.16666L4.16675 20.8333"
                  stroke="#242424"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
            </td>
            <td class="product-nam">Валованы с рыбным муссом (мусс)</td>
            <td class="table-controls">
              <div class="counts-control">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 12H4"
                    stroke="#242424"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </div>
              <div class="counts">2</div>
              <div class="counts-control">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 20V12M12 12V4M12 12H20M12 12H4"
                    stroke="#242424"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </div>
            </td>
            <td class="price">45 Br</td>
          </tr>
        </table>
      </div>

      <div class="table-amount">Итого: 340 Br</div>

      <div class="form-container">
        <app-order></app-order>
      </div>
    </div>
  </div>
</div>
