.cart-table {
    margin-bottom: 50px;
}
.table-refresh {
    cursor: pointer;
    width: 10%;
}

.product-name {
    width: 45%;
}

th {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}
th,
td {
    padding: 20px 0px;
}
td {
    font-size: 18px;
}

.table-remove {
    cursor: pointer;
}

.table-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.counts-control {
    display: flex;
    cursor: pointer;
    &:first-child {
        margin-right: 25px;
    }

    &:last-child {
        margin-left: 25px;
    }
}

.price {
    text-align: right;
}

thead {
    border-bottom: 1px solid #d9d9d9;
}

table {
    width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
    border-collapse: collapse;
}

.table-amount {
    font-size: 24px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d9d9d9;
}

.form-container {
    width: 30%;
}
.counts {
    user-select: none;
}

@media (min-width: 300px) and (max-width: 600px) {
    .form-container {
        width: 100%;
    }
    .cart-title {
        font-size: 20px;
    }
    th,
    td {
        font-size: 16px;
    }
    .table-amount {
        font-size: 20px;
        padding-bottom: 15px;
    }
    .cart-table {
        margin-bottom: 25px;
        overflow-x: auto;
    }

    th {
        width: 120px;
        &.table-refresh {
            width: 50px;
        }
        &.product-name {
            width: 190px;
        }
    }
    .table-controls {
        width: 100%;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
    .counts-control {
        margin: 0px;
    }
}
