<div *ngIf="product" class="card">
  <div class="card-image">
    <div class="more">
      <a routerLink="/product/{{ product.id }}">Подробнее</a>
    </div>
    <img src="{{ product.image }}" width="200" height="200" alt="" />
  </div>
  <div class="card-text">
    <div class="card-title">{{ product.name }}</div>
    <div class="card-details">
      <div class="card-weight card-info">
        <div class="info-title">Масса</div>
        <div class="info-details">
          {{ product.weight }} гр / {{ product.count }} шт
        </div>
      </div>
      <div class="card-price card-info">
        <div class="info-title">Цена</div>
        <div class="info-details">{{ product.price }} Br</div>
      </div>
    </div>
    <div class="card-btn">
      <a class="add-btn btn" (click)="addToCart(product)">
        Добавить в корзину
      </a>
    </div>
  </div>
</div>
