<div *ngIf="product" class="card">
  <div class="card-image">
    <div class="more">
      <a routerLink="details">Подробнее</a>
    </div>
    <img src="../../../assets/dishes/2.png" width="200" height="200" alt="" />
  </div>
  <div class="card-text">
    <div class="card-title">{{ product.name }}</div>
    <div class="card-details">
      <div class="card-weight card-info">
        <div class="info-title">Масса</div>
        <div class="info-details">2000 гр / 5 шт</div>
      </div>
      <div class="card-price card-info">
        <div class="info-title">Цена</div>
        <div class="info-details">{{ product.price }} Br</div>
      </div>
    </div>
    <div class="card-btn">
      <a class="add-btn btn" (click)="addToCart(product)">
        Добавить в корзину
      </a>
    </div>
  </div>
</div>
