.card {
    border-radius: 6px;
    border: 0.7px solid #9c9c9c;
}

.card-image {
    display: flex;
    height: 200px;
    position: relative;
    img {
        object-fit: cover;
        width: 100%;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .more {
        position: absolute;
        bottom: 0;
        padding: 10px 20px;
        cursor: pointer;
        background: radial-gradient(
            214.77% 1213.33% at 26.3% 187.5%,
            rgba(36, 36, 36, 0.18) 0%,
            rgba(36, 36, 36, 0) 100%
        );
        &:hover {
            background: radial-gradient(
                214.77% 1213.33% at 26.3% 187.5%,
                rgba(36, 36, 36, 0.354) 0%,
                rgba(0, 0, 0, 0) 100%
            );
        }
        a {
            text-decoration: none;
            font-size: 18px;
            color: #fff;
            text-shadow: 0px 0px 35px #000000;
        }
    }
}

.card-text {
    padding: 15px 20px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.card-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-info {
    .info-title {
        font-size: 18px;
        color: #9c9c9c;
        margin-bottom: 10px;
    }
    .info-details {
        font-size: 18px;
    }
}

.card-btn {
    display: flex;
    margin-top: 20px;
    a {
        padding: 15px 0px;
    }
}
