<div class="success">
  <div class="container">
    <div class="success__inner">
      <div class="success-card">
        <div class="card-title">Спасибо за ваш заказ!</div>
        <div class="card-subtitle">
          Номер заказа <span>{{ invoiceNumber }}</span>
        </div>
        <div class="card-info">Мы с вами свяжемся в ближайшее время</div>
        <div class="card-controls">
          <a routerLink="/" class="secondary-btn success-btn">На главную</a>
        </div>
      </div>
    </div>
  </div>
</div>
