footer {
    border-top: 1px solid #9c9c9c;
}

.footer__inner {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-logo {
    font-size: 18px;
}

.footer-info {
    font-size: 14px;
    color: #9c9c9c;
    margin-right: 100px;
}
.footer-number {
    font-size: 18px;
}
