header {
    padding: 30px 0px;
}
.header__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-weight: 700;
    font-size: 36px;
    cursor: pointer;
    user-select: none;
    span {
        color: #ffd029;
    }
}

.header-number {
    font-weight: 700;
    font-size: 24px;
    margin-right: 80px;
}

.header-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-cart {
    display: flex;
    cursor: pointer;
}

@media (min-width: 300px) and (max-width: 600px) {
    header {
        padding: 15px 0px 10px 0px;
    }
    .header-logo {
        font-size: 26px;
        text-align: center;
        margin-bottom: 10px;
    }
    .header-number {
        font-size: 18px;
    }
    .header__inner {
        flex-direction: column;
        align-items: baseline;
    }
    .header-contacts {
        width: 100%;
        justify-content: space-between;
    }
}
