<div class="order-form">
  <div class="container">
    <div class="order-form__inner">
      <div class="form-title">Оформление Заказа</div>
      <div class="form-subtitle">
        Поля отмеченные “*” обязательны для заполнения
      </div>
      <form action="">
        <input class="form-input" type="" placeholder="*Ваше имя" />
        <input class="form-input" type="" placeholder="*Телефон для связи" />
        <input class="form-input" type="" placeholder="Адрес доставки" />
        <input class="form-input" type="" placeholder="Дата доставки" />
        <input class="form-input" type="" placeholder="Время доставки" />
        <div class="form-apply">
          <input type="submit" value="Оформить заказ" class="btn form-sbmt" />
        </div>
      </form>
    </div>
  </div>
</div>
