<div class="order-form">
  <div class="container">
    <div class="order-form__inner">
      <div class="form-title">Оформление Заказа</div>
      <div class="form-subtitle">
        Поля отмеченные “*” обязательны для заполнения
      </div>
      <div
        class="callback-allert"
        *ngIf="allert != null"
        [ngClass]="{ isErr: isErr }"
      >
        {{ allert }}
      </div>
      <form action="" [formGroup]="form" (submit)="onClickSubmit()" novalidate>
        <div *ngIf="!name.valid && (name.dirty || name.touched)">
          <div
            [ngClass]="{ isErr: !name.errors.required }"
            [hidden]="!name.errors.required"
          ></div>
          Введите имя
        </div>

        <input
          [ngClass]="{ isErr: !name.valid && (name.dirty || name.touched) }"
          class="form-input"
          type="text"
          placeholder="*Ваше имя"
          formControlName="name"
        />

        <div *ngIf="!phone.valid && (phone.dirty || phone.touched)">
          <div [hidden]="!phone.errors.required">Введите телефон</div>
        </div>
        <input
          [ngClass]="{ isErr: !phone.valid && (phone.dirty || phone.touched) }"
          class="form-input"
          type="text"
          placeholder="*Телефон для связи"
          name="phone"
          formControlName="phone"
        />
        <input
          class="form-input"
          type="text"
          placeholder="Адрес доставки"
          name="address"
          formControlName="address"
        />
        <input
          class="form-input"
          type="date"
          placeholder="Дата доставки"
          name="date"
          formControlName="date"
        />
        <input
          class="form-input"
          type="time"
          placeholder="Время доставки"
          name="time"
          formControlName="time"
        />
        <div class="form-apply">
          <input
            type="submit"
            [disabled]="!form.valid"
            value="Оформить заказ"
            class="btn form-sbmt"
          />
        </div>
      </form>
    </div>
  </div>
</div>
