<div class="confirm-page">
  <div class="container">
    <div class="confirm__inner">
      <div class="confirm-title">Подтверждение заказа</div>
      <div class="confirm-tables">
        <div class="confirm-table">
          <div class="table-title">Ваши данные</div>
          <div class="user-table">
            <table>
              <thead>
                <th>Имя</th>
                <th>Телефон</th>
                <th>Адрес</th>
                <th>Дата</th>
                <th>Время</th>
              </thead>
              <tr>
                <td>{{ user?.name }}</td>
                <td>{{ user?.phone }}</td>
                <td>{{ user?.address }}</td>
                <td>{{ user?.date }}</td>
                <td>{{ user?.time }}</td>
              </tr>
            </table>
          </div>
          <div class="order-table">
            <div class="table-title">Детали заказа</div>
            <table>
              <thead>
                <th>Название продукта</th>
                <th class="amount">Количество</th>
                <th class="price">Цена</th>
              </thead>
              <tr *ngFor="let product of products$ | async">
                <td>{{ product.name }}</td>
                <td class="amount">{{ product.amount }}</td>
                <td class="price">{{ product.price }} Br</td>
              </tr>
            </table>
          </div>
          <div class="order-amount">Итого: {{ priceAmount$ | async }} Br</div>
        </div>
        <div class="order-controls">
          <div class="controls">
            <a class="change secondary-btn" (click)="changeData()"
              >Изменить данные</a
            >
            <a class="order-confirm btn" (click)="sendInvoice()">Подтвердить</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
