<div class="confirm-page">
  <div class="container">
    <div class="confirm__inner">
      <div class="confirm-title">Подтверждение заказа</div>
      <div class="confirm-tables">
        <div class="confirm-table">
          <div class="table-title">Ваши данные</div>
          <div class="user-table">
            <table>
              <thead>
                <th>Имя</th>
                <th>Телефон</th>
                <th>Адрес</th>
                <th>Дата</th>
                <th>Время</th>
              </thead>
              <tr>
                <td>Константин</td>
                <td>8 965 421 30 67</td>
                <td>ул. Мира 12</td>
                <td>25.09.2022</td>
                <td>23.00</td>
              </tr>
            </table>
          </div>
          <div class="order-table">
            <div class="table-title">Детали заказа</div>
            <table>
              <thead>
                <th>Название продукта</th>
                <th class="amount">Количество</th>
                <th class="price">Цена</th>
              </thead>
              <tr>
                <td>Валованы с рыбным муссом (мусс)</td>
                <td class="amount">1</td>
                <td class="price">35 Br</td>
              </tr>
            </table>
          </div>
          <div class="order-amount">Итого: 4200 Br</div>
        </div>
        <div class="order-controls">
          <div class="controls">
            <a class="change secondary-btn">Изменить данные</a>
            <a class="order-confirm btn">Подтвердить</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
