<div class="details" *ngIf="product | async">
  <div class="container">
    <div class="details__inner">
      <div class="details-image">
        <img
          src="{{ (product | async)?.image }}"
          alt="{{ (product | async)?.name }}"
        />
      </div>

      <div class="details-text">
        <div class="details-title">{{ (product | async)?.name }}</div>
        <div class="details-info">
          <div class="info-title">Состав</div>
          <div class="info-subtitle">
            {{ (product | async)?.compound }}
          </div>
        </div>
        <div class="details-info">
          <div class="info-title">Описание</div>
          <div class="info-subtitle">
            {{ (product | async)?.details }}
          </div>
        </div>

        <div class="details-some">
          <div class="details-info">
            <div class="info-title">Масса</div>
            <div class="info-subtitle">
              {{ (product | async)?.weight }} гр /
              {{ (product | async)?.count }} шт
            </div>
          </div>
          <div class="details-info">
            <div class="info-title">Цена</div>
            <div class="info-subtitle">{{ (product | async)?.price }} Br</div>
          </div>
        </div>
        <div class="details-controls">
          <a class="btn" (click)="addToCart()">Добавить в корзину</a>
          <a routerLink="/" class="secondary-btn">На главную</a>
        </div>
      </div>
    </div>
  </div>
</div>
